@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Amatic SC', cursive;
}

body, .bg {
  min-height: 100vh;
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  width: calc(100vw - 32px);
}
